.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: cornflowerblue;
}

.main-nav__item {
    display: inline-block;
}

/* para todas las etiquetas con la misma clase */
.main-nav__item a {
    color:  white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: black;
}

.main-nav__item a:active {
    color: red;
}

.main-nav__item a::after {
    content: " | ";
}

/*  : para cambiar el  estado de un elemento
    :: para agregar algo al estilo de un elemento 
*/